.review {
  background-color: #fff;
  border-radius: 8px;
  padding: 12px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    'author stars'
    'text stars';
  gap: 12px;
}

.author {
  font-weight: bold;
  margin: 0 0 12px;
  grid-area: author;
}

.text {
  margin: 0;
  grid-area: text;
}

.stars {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 3px;
}