.menu {
  border: 1px solid #000;
  border-radius: 20px;
  padding: 12px;
}

.title {
  margin: 0 0 20px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}